<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.sspu.dao.mapper.User_TableMapper" >

   <select id="selectUser_TableByUserId" resultType="cn.edu.sspu.models.User_Table" parameterType="java.lang.String" >
    select * from user_table user_id name = #{user_id}
  </select>
  
  <select id="selectUser_TableByTableId" resultType="cn.edu.sspu.models.User_Table" parameterType="java.lang.String" >
    select * from user_table where table_id = #{table_id}
  </select>
  
  <select id="selectAllUser_TableByTableId" parameterType="java.lang.String" resultType="int">
  	select count(*) from user_table where table_id = #{table_id}
  </select>

  <insert id="insertUser_Table" parameterType="cn.edu.sspu.models.User_Table">
  	insert user_table <include refid="insertUser_TableSet" />
  </insert>
  
  <sql id="insertUser_TableSet">
	<set>
		<if test="table_id != null">table_id = #{table_id,jdbcType=VARCHAR},</if>
		<if test="user_id != null">user_id = #{user_id,jdbcType=VARCHAR},</if>
		<if test="user_name != null">user_name = #{user_name,jdbcType=VARCHAR},</if>
		<if test="table_name != null">table_name = #{table_name,jdbcType=VARCHAR},</if>
		<if test="user_table_time != null">user_table_time = #{user_table_time,jdbcType=VARCHAR},</if>
	</set>
  </sql>
  
  <delete id="deleteUser_TableByUserIdAndTableId">
  	delete from `user_table` where table_id = #{table_id,jdbcType=VARCHAR} and user_id = #{user_id,jdbcType=VARCHAR}
  </delete>
  
  
</mapper>