<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.sspu.dao.mapper.UserMapper" >

  <select id="selectUserByName" resultType="cn.edu.sspu.models.User" parameterType="java.lang.String" >
    select * from user where name = #{name}
  </select>
  
  <select id="selectUserById" resultType="cn.edu.sspu.models.User" parameterType="java.lang.String" >
    select * from user where user_id = #{user_id}
  </select>
  
   <select id="selectUserByNameAndPassword" resultType="cn.edu.sspu.models.User">
    select * from user where name = #{name,jdbcType=VARCHAR} and password = #{password,jdbcType=VARCHAR}
  </select>
  
   <select id="getAllUser" resultType="cn.edu.sspu.models.User" >
    select * from user
  </select>
  
  <update id="updateUser" parameterType="cn.edu.sspu.models.User">
  	UPDATE user
	<trim prefix="set" suffixOverrides=",">
		<if test="name!=null">name=#{name},</if>
		<if test="password!=null">password=#{password},</if>
		<if test="email!=null">email=#{email},</if>
		 <if test="type!=null">type=#{type},</if>
 	</trim>
 	WHERE user_id = #{user_id}
  </update>
  
  <delete id="deleteUserByName" parameterType="java.lang.String">
  	delete from user where name = #{name}
  </delete>
  <delete id="deleteUserById" parameterType="java.lang.String">
  	delete from user where user_id = #{user_id}
  </delete>
  
  <insert id="insertUser" parameterType="cn.edu.sspu.models.User">
  	insert user <include refid="insertUserSet" />
  </insert>
  
  <sql id="insertUserSet">
  	<set>
  		<if test="user_id != null">user_id = #{user_id,jdbcType=VARCHAR},</if>
  		<if test="name != null">name = #{name,jdbcType=VARCHAR},</if>
  		<if test="password != null">password = #{password,jdbcType=VARCHAR},</if>
  		<if test="email != null">email = #{email,jdbcType=VARCHAR},</if>
  		<if test="type != null">type = #{type,jdbcType=VARCHAR},</if>
  	</set>
  </sql>
  
  <select id="getUserTotal" resultType="int">
  	select count(1) from `user`
  	<where>
  		<if test="name != null">and name like CONCAT(CONCAT('%', #{name}),'%')</if>
  	</where>
  </select>
  
  <select id="selectUserByFilter" resultType="cn.edu.sspu.models.User">
  	  	select * from `user` 
  	<where>
  		<if test="name != null">and name like CONCAT(CONCAT('%', #{name}),'%')</if>
  	</where>
  	limit #{page,jdbcType=BIT},#{rows,jdbcType=BIT}
  </select>
  
  <select id="selectUserByIdNotName" resultType="cn.edu.sspu.models.User">
  	select * from `user` where name=#{name} and user_id != #{user_id}
  </select>
  
</mapper>