<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.sspu.dao.mapper.UserMapper" >

  <select id="selectUserByName" resultType="cn.edu.sspu.models.User" parameterType="java.lang.String" >
    select * from user where name = #{name}
  </select>
  
  <select id="selectUserById" resultType="cn.edu.sspu.models.User" parameterType="java.lang.String" >
    select * from user where user_id = #{user_id}
  </select>
  
   <select id="selectUserByNameAndPassword" resultType="cn.edu.sspu.models.User">
    select * from user where name = #{name,jdbcType=VARCHAR} and password = #{password,jdbcType=VARCHAR}
  </select>
  
</mapper>